In [8]:
import pandas as pd
import csv

In [28]:
school_data = pd.read_csv("C:/Data Science Bootcamp/Data Science Boot Camp/Team6/County_School_Grad_4yr_2017.csv")
school_data.head()

,COUNTY,CNTYNAME,CNTY_ALLD,CNTY_ALLN_CMP2,CNTY_ALLN_GRAD,CNTY_ALLN_CONT,CNTY_ALLN_TXCHSE,CNTY_ALLN_DROP,CNTY_ALLR_CMP2,CNTY_ALLR_GRAD,...,CNTY_TTLN_CONT,CNTY_TTLN_TXCHSE,CNTY_TTLN_DROP,CNTY_TTLR_CMP2,CNTY_TTLR_GRAD,CNTY_TTLR_CONT,CNTY_TTLR_TXCHSE,CNTY_TTLR_DROP,CNTY_TTLR_RAED,CNTY_TTLR_RECADV
0,1,ANDERSON COUNTY,<600,-,-,-,-,-,99.3,96.8,...,-,-,-,99.3,97.6,1.5,0.2,0.7,86.9,88.3
1,2,ANDREWS COUNTY,<250,-,-,-,0,-,97.1,95.8,...,0,0,5,97.8,97.8,0,0,2.2,-,-
2,3,ANGELINA COUNTY,"1,260","1,203","1,164",32,7,57,95.5,92.4,...,-,-,-,97.4,94.7,2.3,0.4,2.6,79.2,70.5
3,4,ARANSAS COUNTY,<250,-,-,-,-,-,91.0,88.7,...,-,-,-,91,88.7,1.4,0.9,9,82.2,82.7
4,5,ARCHER COUNTY,<200,-,-,-,0,0,100.0,99.4,...,0,0,0,.,.,.,.,.,.,.

In [32]:
school_data_dfw = school_data.loc[school_data['CNTYNAME'].isin(['DENTON COUNTY','COLLIN COUNTY','HUNT COUNTY','ROCKWALL COUNTY','KAUFMAN COUNTY','ELLIS COUNTY','JOHNSON COUNTY','DALLAS COUNTY','SOMMERVILLE COUNTY','HOOD','PARKER COUNTY','WISE COUNTY','TARRANT COUNTY'])]
school_data_dfw

,COUNTY,CNTYNAME,CNTY_ALLD,CNTY_ALLN_CMP2,CNTY_ALLN_GRAD,CNTY_ALLN_CONT,CNTY_ALLN_TXCHSE,CNTY_ALLN_DROP,CNTY_ALLR_CMP2,CNTY_ALLR_GRAD,...,CNTY_TTLN_CONT,CNTY_TTLN_TXCHSE,CNTY_TTLN_DROP,CNTY_TTLR_CMP2,CNTY_TTLR_GRAD,CNTY_TTLR_CONT,CNTY_TTLR_TXCHSE,CNTY_TTLR_DROP,CNTY_TTLR_RAED,CNTY_TTLR_RECADV
42,43,COLLIN COUNTY,"13,746","13,600","13,312",265,23,146,98.9,96.8,...,-,-,-,97.1,92.9,3.3,0.8,2.9,67.9,68.5
56,57,DALLAS COUNTY,"34,365","31,359","28,877","2,397",85,"3,006",91.3,84.0,...,"1,554",53,"2,104",89.8,82,7.5,0.3,10.2,87.5,89.3
60,61,DENTON COUNTY,"8,948","8,694","8,453",196,45,254,97.2,94.5,...,-,-,-,96.2,93.4,2.8,0.1,3.8,82.5,90.6
69,70,ELLIS COUNTY,"2,556","2,454","2,380",66,8,102,96.0,93.1,...,-,-,-,93.9,92.2,1.4,0.3,6.1,81.6,84.5
115,116,HUNT COUNTY,"1,043",997,977,15,5,46,95.6,93.7,...,0,0,5,91.2,91.2,0,0,8.8,86.5,86.5
125,126,JOHNSON COUNTY,"2,346","2,281","2,221",52,8,65,97.2,94.7,...,8,0,16,95.3,93,2.3,0,4.7,86.6,87.7
128,129,KAUFMAN COUNTY,"<1,800",-,-,-,-,-,98.3,95.5,...,-,-,-,98.5,96.8,1.5,0.3,1.5,85,86.9
181,184,PARKER COUNTY,"<1,550",-,-,-,-,-,98.2,96.3,...,-,0,-,82.8,81.3,1.6,0,17.2,69.2,68.8
196,199,ROCKWALL COUNTY,"<1,500",-,-,-,-,-,99.1,97.0,...,0,0,0,100,100,0,0,0,-,-
217,220,TARRANT COUNTY,"24,189","22,785","21,892",813,80,"1,404",94.2,90.5,...,290,23,729,90.8,86.9,3.7,0.3,9.2,85.4,89.1
246,249,WISE COUNTY,624,614,603,11,0,10,98.4,96.6,...,0,0,0,100,100,0,0,0,88.9,88.9