In [35]:
import os
import pandas as pd
import csv
from census import Census
from us import states
from apikey import apikey

c = Census(apikey, year=2017)

In [36]:
print (states.MD.fips)
#school_data = pd.read_csv("County_Data.csv", encoding = "ISO-8859-1")
#school_data.head()

24

In [66]:
#census_data = c.acs5.get('NAME', geo={'for': 'county:*', 'in': 'state:%s' % states.TX.fips})
census_data = c.acs5.get('NAME', geo={'for': 'county:121,085,231,397,257,139,251,113,221,367,497,439', 'in': 'state:%s' % states.TX.fips})

county_pd = pd.DataFrame(census_data)
county_pd.head()

                     NAME county state
0      Hunt County, Texas    231    48
1    Parker County, Texas    367    48
2    Collin County, Texas    085    48
3  Rockwall County, Texas    397    48
4   Tarrant County, Texas    439    48

In [18]:
#census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
#                          "B19301_001E",
#                          "B17001_002E"), {'for': 'zip code tabulation area:*'})



# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "NAME": "Name", "zip code tabulation area": "Zipcode"})

# Add in Poverty Rate (Poverty Count / Population)
census_pd["Poverty Rate"] = 100 * \
    census_pd["Poverty Count"].astype(
        int) / census_pd["Population"].astype(int)

# Final DataFrame
census_pd = census_pd[["Zipcode", "Population", "Median Age", "Household Income",
                       "Per Capita Income", "Poverty Count", "Poverty Rate"]]

# Visualize
print(len(census_pd))
census_pd.head()

33120

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate
0,00601,17599.0,38.9,11757.0,7041.0,11282.0,64.105915
1,00602,39209.0,40.9,16190.0,8978.0,20428.0,52.100283
2,00603,50135.0,40.4,16645.0,10897.0,25176.0,50.216416
3,00606,6304.0,42.8,13387.0,5960.0,4092.0,64.911168
4,00610,27590.0,41.4,18741.0,9266.0,12553.0,45.498369

In [16]:
#school_data_dfw = school_data.loc[school_data['CNTYNAME'].isin(['DENTON COUNTY','COLLIN COUNTY','HUNT COUNTY','ROCKWALL COUNTY','KAUFMAN COUNTY','ELLIS COUNTY','JOHNSON COUNTY','DALLAS COUNTY','SOMMERVILLE COUNTY','HOOD','PARKER COUNTY','WISE COUNTY','TARRANT COUNTY'])]
#school_data_dfw